<div class="container">
  <h1>EAT DA BURGER</h1>

  <div class="row">
    <img
      src="http://images.all-free-download.com/images/graphiclarge/burger_store_facade_design_with_food_on_window_6825108.jpg"
      class="img-fluid" alt="burger shop" max-width="300" max-height="300">


    <div class="col">
      <h2>Ready To Eat.</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block eaten=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <h2>Devoured!</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{>burgers/burger-block eaten=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="col-2">
      <h2>Grill IT!</h2>
      <form class="create-form">

        <div class="form-group" method="POST">
          <label for="burg">Name a Burger:</label><br>
          <input type="text" id="burg" name="name">

        </div>
    </div>
    <div class="col-2">
      <div class="form-group" method="POST">
        <label for="devoured">Hungry??</label><br>
        <input type="radio" name="devoured" value="1" checked> Devour It!<br>
        <input type="radio" name="devoured" value="0"> Save for Later!
      </div>
      <button type="submit" class="btn btn-danger">FIRE Burger!<i class="fas fa-fire"></i></button>
      </form>
    </div>
  </div>


</div>