<h1>EAT DA BURGER</h1>

<ul>
  {{#each burgers}}
    {{!-- {{#unless whole}} --}}
      {{this.id}}. {{this.burger_name}}<button type="submit">Devoure !</button><br>
    {{!-- {{/unless}} --}}
  {{/each}}
</ul>


<h2>Make a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="burg" name="name"><br>
    <label for="burg">Name a Burger:</label>
    
  </div>

  <div class="form-group">
    <label for="devoured">Hungry?</label><br>
  </div>

  <button type="submit">Add Dat Thang</button>
</form>
