<li>
	{{burger_name}}

	<button class="btn btn-warning change-value" data-id="{{id}}" data-newvalue="{{devoured}}">
		{{#if devoured}}Devour!<i class="fas fa-fire"></i>{{else}}Remake!<i class="fas fa-hamburger"></i>{{/if}}
	</button>

</li>
